.inactive {
  background-color: #a0a0a0;
  cursor: not-allowed;
}
.active {
  box-sizing: border-box;
  border: 1.5px solid #0e7a81;
  border-radius: 1.8rem 1.8rem !important;
  background-color: #0e7a811a;
}
